.DS_Store
.env
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
bin/
include/
lib/
lib64/
share/
api/lib64
pyvenv.cfg

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
