<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Title</title>
      <style type="text/css">
       body { margin:0; padding:0; }
       #reader { position: absolute; top:0; bottom:0; right:0; left:0; }
     </style>
   </head>
   <body>
      <script type="text/javascript" src="../../../static/js/qrcode.js"></script>
      <style>
         .result{
         background-color: green;
         color:#fff;
         padding:20px;
         }
         .row{
         display:flex;
         }
      </style>
      <div id="reader"></div>

      <script type="text/javascript">
         var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 450 });
         html5QrcodeScanner.render(onScanSuccess, onScanError);

         function onScanSuccess(qrCodeMessage) {
            {% if initialized %}
               window.location.href = qrCodeMessage + "/stop";
            {% endif %}
            {% if not initialized %}
               window.location.href = qrCodeMessage + "/start";
            {% endif %}
            html5QrcodeScanner.clear();
         }
         function onScanError(errorMessage) {
           //handle scan error
         }
      </script>
   </body>
</html>
